@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,600,700,400);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  position: static;
  margin: 0;
  padding-top: 10%;
  text-align: center;
  font-family: 'Open Sans';
  background: #F8F8F8;
}

h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: lighter;
}

footer, table {
  height: 100px;
  position: static;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #efefef;
  text-align: center;
}

table {
  margin: 1em 0 0 0;
  margin-left:auto;
  margin-right:auto;
  padding: 1rem;
}

footer {
  margin: 10em 0 0 0;
  display: none;
}

#loading-svg{
  width: 30%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*

  experiment

*/

#experiment-container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#global-canvas {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.stimulus {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

/*

  user

*/

#user {
  padding: 50px 20px;
  background: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 330px;
  display: none;
  margin: 0 auto;
}

#user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px auto;
}

#user-name {
  color: #0066AA;
  font-weight: bold;
}

#user-email {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #0066AA;
}

/*

  sign-in button

*/

#start-button {
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;

  margin-top: 14px;
  margin-bottom: 14px;
}

#signin-button, #start-button {
  display: inline-block;
  background: #4285f4;
  color: white;
  width: 200px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#signin-wrapper {
  display: none;
}

#signin-wrapper span.label {
  display: block;
  font-family: sans-serif;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

#signin-button:hover, #start-button:hover {
  cursor: pointer;
}

#signin-button:active, #start-button:active {
  background: #3d7ee8;
  border: thin solid #3d7ee8;
}
#signin-button span.icon:active {
  background: url('../media/google-signin/focus.svg') transparent 5px 50% no-repeat;
}

#signin-button span.icon {
  background: url('../media/google-signin/normal.svg') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 46px;
}

#signin-button span.button-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 46px;
  padding-right: 46px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#consent-box {
  display: none;
}